<% layout("/layouts/boilerplate") %>
<body>
    <div class="row">
        <div class="col-8 offset-2">
        <h1>SignUp</h1>
<form method="POST" action="/signup" novalidate class="needs-validation">
        <div  class="mb-3">
            <lable for="username" class="form-lable">Username</lable>
            <input type="text" 
            name="username"
            id="username"
             placeholder="Enter User Name" 
             class="form-control" required>
            <div class="valid-feedback">
            Looks good!
            </div>
        </div>
        <div  class="mb-3">
            <lable for="email" class="form-lable">Email</lable>
            <input type="email" 
            name="email"
            id="email"
             placeholder="Enter email" 
             class="form-control" required>
        </div>
        <div  class="mb-3">
            <lable for="password" class="form-lable">password</lable>
            <input type="password" 
            name="password"
            id="password"
             placeholder="Enter Strong Password" 
             class="form-control" required>
        </div>
<button class="btn btn-success">SignUp</button>
    </div>
</div>
</body>